{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main class="container  my-5">
        <div class=" w-100 row d-flex justify-content-center">

            {% for publication in publications %}
                {% if publication.countLikes  >= 3 %}
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <iframe src="{{ asset('uploads/pdf/' ~ publication.upload ) }}"></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{ publication.title }}</h5>
                            <p class="card-text">Auteur: {{ publication.getUser.fname ~ publication.getUser.name  }}</p>
                            <a href="{{ path('relecture_show',{id: publication.id}) }}" class="btn btn-primary">Voir l'article</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

    </main>
{% endblock %}
