{% extends 'base.html.twig' %}

{% block title %}Hello ProofreadingController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ publication.title }}</h1>

        <img src="{{ asset('uploads/pdf/' ~ publication.upload ) }}" alt="pdf">
    </div>
{% endblock %}
