{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <h1 class="text-center">Cree une publication</h1>
    <div class="container my-5  d-flex justify-content-center  ">

        {{ form_start(form,{
            'attr':{'class': 'w-50'}
        }) }}
        <div class="mb-3 ">
            {{ form_row(form.title,{label:'Titre'}) }}
        </div>
        <div class="mb-3 ">
            {{ form_row(form.upload) }}
        </div>
        <div>
            <button type="submit" class="btn btn-primary ">create</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
